:root {
    --bg-dark-color: #000;
    --text-dark-color: #fff;
    --text-dark-subtext-color: #8a8a8a; 
    --text-highlight: #f895ea;
    --seperator: rgba(218, 107, 203, 0.5);

    /* hidden light theme */
    --bg-light-color: #fff;
    
}

* {
    font-family: Pretendard, apple-system, system-ui, "Helvetica", "Arial", sans-serif;
}

.nav {
    margin-top: 2rem;
    display: flex;
    flex: 1 1 0%;
    justify-content: flex-end;
    gap: 10px;
}

body {
    margin: 0;
    padding: 0 1rem 0rem 1rem;
    min-height: 100vh;
    color: var(--text-dark-color);
    background-color: var(--bg-dark-color);
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
}


.main {
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}

.main div, footer {
    flex: 1;
    width: 100%;
    max-width: 75ch;
}

.main footer {
    height: 100%;
    display: flex;
    flex: 1;
    align-items: flex-end;
    justify-content: center;
    color: var(--text-dark-subtext-color)
}

/* Navigation Bar */
.nav {
    display: flex;
    justify-content: space-between;
    background: #222;
    padding: 10px 20px;
    border-radius: 5px;
}

.nav a {
    color: var(--text-highlight);
    text-decoration: none;
    font-weight: bold;
    padding: 8px 15px;
}

.nav a:hover {
    background: #555;
	color: var(--text-highlight);
    border-radius: 4px;
}

a, .text-highlight {
    color: var(--text-highlight);
    text-decoration: none;
}

.text-normal {
    color: var(--text-dark-color);
}

a:hover {
    text-decoration: underline;
}

/* Headings */
h1, h3 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

h3 {
    font-size: 22px;
    margin-top: 20px;
}

/* Paragraphs */
p {
    font-size: 16px;
    text-align: justify;
}

/* Lists */
ol, ul {
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
    font-size: 16px;
}

b {
    color: #c792ea;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    font-size: 14px;
    color: #666;
    margin-top: 20px;
}


ul{
  margin-left: 0;
  padding-left: 4em;
  padding: 1rem;
}
li {
  margin-left: 0;
  padding-left: 0;
}
